<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Thank You for Signing Up!</h4>
    <ng-container *ngIf="authService.userData as user">
        <p>We have sent a confirmation email to<span>{{user.email}}</span></p>
        <hr>
        <p class="mb-0">Please check your email and click on the link to verfiy your email address.</p>
    </ng-container>
   
    
  </div>
  <button type="button" class="btn btn-primary btn-sm" (click)="authService.SendVerificationMail()">
    <i class="fa fa-envelope" aria-hidden="true"></i>
          Resend Verification Email
  </button>
  <button type="button" class="btn btn-secondary btn-sm margin-left" (click)="openSignIn()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
     Go Back to SignIn  </button>

